* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #181818;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding: 1rem;
  margin-top: 1rem;

  height: min-content;
  width: 30rem;
  background-color: #ffffffda;
}

main,
div,
input,
button {
  border-radius: 0.5rem;
}
input,
button {
  border: none;
}

header,
section {
  width: 100%;
}
header {
  text-align: center;
}

input {
  height: 2rem;
  width: 20rem;

  padding: 1rem;
}
button {
  height: 2rem;
  width: 3rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section div {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr;
  gap: 0.5rem;

  width: 100%;

  padding: 1rem;

  border: 1px solid #18181844;
}

section div p {
  text-align: justify;
  word-break: break-all;
}

.todo-done {
  text-decoration: line-through;
  font-style: italic;
}
